/*reset*/
*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*style*/
body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #555;
    background-color: rgb(180, 233, 233);
}

.login-div {
    width: 400px;
    height: 550px;
    background-color: #ecf0f3;
    padding: 60px 35px 35px 35px;
    border-radius: 40px;
    box-shadow: 13px 13px 20px #cbced1,
    -13px -13px 20px #9aafc4;
}

.title {
    text-align: center;
    font-size: 28px;
    padding-top: 24px;
    background: -webkit-linear-gradient(#eee, rgb(0, 0, 0) 85%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 1s ease-in;
}

.title:hover{
        background: linear-gradient(to right, #000 20%, #02c8db 40%, #b3ecf1 60%, #000 80%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 200% auto;
        animation: textShine 5s ease-in-out infinite alternate;
      }
      
      @keyframes textShine {
        to {
          background-position: 200%;
        }
      }

.fields {
    width: 100%;
    padding: 75px 5px 5px 5px;
}

.fields input {
    outline: none;
    border: none;
    background: none;
    font-size: 18px;
    padding: 20px 10px 20px 5px;
}

.username, .password {
    margin-bottom: 30px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1,
    inset -8px -8px 8px #ffffff;
}

.svg-icon {
    height: 22px;
    margin: 0 10px -4px 25px;
}
.username-msg, .password-msg {
    font-size: 17px;
    color: #e55050;
    display: block;
    transform: translateY(-1.2rem);
    font-weight: 100;
}
.login-button {
    border: none;
    cursor: pointer;
    width: 100%;
    height: 60px;
    background: #02c8db;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    box-shadow: 3px 3px 8px #b1b1b1,
    -3px -3px 8px #fff;
    transition: all 0.2s ease-in;
}

.login-button:hover {
    background: #50e5b9
}
.login-status {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding-top: 20px;
    font-size: 20px;
    color: #00db49;
    font-weight: 700;
    transition: 0.2s linear;
}

.link {
    padding-top: 20px;
    text-align: center;
}

.link a {
    text-decoration: none;
    color: #aaa;
    font-size: 15px;
}
